.container {
    margin: 2rem; 
}

.addmovieform{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.addmovieform__image{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin-right: 100px;
}

.addmovieform__text {
    height: 30px;
    width: 120%;
    border-radius: 3px;
}
.addmovieform__title {
    color: #4361ee;
    margin: 1rem;
    font-size: 2.30rem;
    text-align: right;
    
}
.addmovieform_Form {
    margin: 1rem;
}


.addmovieform__button{
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #4361ee;
    color: #fff;
    margin-top: 1rem;
    width: 120%;


    
}


@media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
  }

@media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 3rem auto;
     
    }
    .addmovieform {
        
      flex-direction: row;
      text-align: left;
      justify-content: center;
    }

.addmovieform__Form {
    align-items: center;
    margin: 2rem;
}


.addmovieform_right{
    flex-basis: 40%;
}

.addmovieform__left{
    flex-basis: 60%;
}

}